@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.css';

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  @apply antialiased transition-colors duration-200;
}

* {
  border-color: var(--color-border-primary);
}
